
.fab-action {
  background-color: $fab-button;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: $fab-dark;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin: 0 7px 15px;
  min-height: 36px;
  min-width: 36px;
  text-align: center;
  width: 36px;
  z-index: $fab-z-index;

  transform: scale(0.8) translateY(10px);
  opacity: 0;

  transition: all $fab-transition-speed-delayed ease-in;
}

.fab-action--active {
  transform: scale(1) translateY(0);
  opacity: 1;
}


.fab-action__tooltip {
  background-color: rgba($fab-dark, 0.9);
  border-radius: 5px;
  color: $fab-light;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px 10px;
  position: fixed;
  right: 81px;

  transform: scale(1) translateX(-20px);
  opacity: 0;

  transition: all $fab-transition-speed ease-in;
  transition-delay: $fab-transition-speed;
}

.fab-action__tooltip--active {
  transform: scale(1) translateY(0);
  opacity: 1;
}
